@use '../sass/utilities/index' as *;

.main,
.section {
	display: grid;
}

.main {
	row-gap: 2em;
}

.section {
	position: relative;
	row-gap: 1.6em;
	padding: 2em;
	background-color: $moderate-violet;
	border-radius: 0.8em;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
		rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.upBox {
	display: flex;
	align-items: center;
	column-gap: 1.5em;
}

.img {
	width: 2.3em;
	height: 2.3em;
	border-radius: 50%;
	border: 1px solid $light-gray;
}

.name {
	color: $light-grayish-blue;
	font-weight: $w500;
}

.graduate,
.desc {
	color: $light-gray;
	opacity: 0.5;
}

.text {
	font-size: 2.157rem;
	color: $white;
	font-weight: $w500;
}

.desc {
	padding-right: 0.5em;
	font-size: 1.39rem;
	line-height: 1.5;
}

.quotes {
	position: absolute;
	top: 0;
	right: 8%;
	z-index: -1;
}

.section {
	&:nth-child(2) {
		background-color: $very-dark-grayish-blue;

		.desc {
			opacity: 1;
		}
	}

	&:nth-child(3),
	&:nth-child(5) {
		background-color: $white;

		.name,
		.text,
		.graduate,
		.desc {
			color: $very-dark-blackish-blue;
		}
		.graduate,
		.desc {
			opacity: 0.8;
		}
	}

	&:nth-child(4) {
		background-color: $very-dark-blackish-blue;

		.graduate,
		.desc {
			opacity: 0.8;
		}
	}
}

@media (min-width: 992px) {
	.main {
		grid-template-columns: repeat(4, auto);
		column-gap: 2.2em;
		grid-template-rows: auto auto;
		grid-template-areas:
			'one one two five'
			'three four four five';
	}

	.section {
		grid-area: one;
		&:nth-child(2) {
			grid-area: two;
		}
		&:nth-child(3) {
			grid-area: three;
		}
		&:nth-child(4) {
			grid-area: four;
		}
		&:nth-child(5) {
			grid-area: five;
		}

		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(5) {
			max-width: 20.8em;
		}

		.text {
			font-size: 2.3rem;
		}

		.desc {
			font-size: 1.48rem;
		}
	}
}
