@use './sass/reset.scss';
@use './sass/utilities/index' as *;

body {
	display: flex;
	justify-content: center;
	font-family: 'Barlow Semi Condensed', serif;
	font-size: 1.3rem;
	background-color: $light-grayish-blue;
}

#root {
	padding: 1.7em;
	width: 100%;
	max-width: 375px;
}

